<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./src/Ddd/*/Tests/*</directory>
        </testsuite>
        <testsuite name="all-howto">
            <directory suffix="Test.php">./src/Ddd/*/Tests/HowTo</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Ddd</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>
