<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="all">
            <directory>Tests</directory>
        </testsuite>
        <testsuite name="howto">
            <directory>Tests/HowTo</directory>
        </testsuite>
    </testsuites>
</phpunit>
